body{
    background-color: #404040;
    font-family: 'Montserrat', sans-serif;
}
.main-wrapper{
    background-color: white;
    color: #404040;
    margin: 0 auto;
    width: 60%;
    padding: 2rem;
}

header{
    width: 60%;
    font-size: 25px;
    font-weight: bold;
    margin: 3rem auto 0 auto;
    background-color: crimson;
    color: white;
    padding: 2rem;
    text-align: center;
}